<div class="shopping-cart" ng-repeat = "item in itemCollection">
    <!-- Title -->
    <div class="itemname">
        {{item.itemName}}
    </div>

    <!-- Image -->
    <div class="image">
        <!-- {{item.itemImage}} -->
        <img src="front/home_images/cake4.jpeg" alt="">
    </div>

    <!-- details -->
    <div>
        <div class="description">{{item.itemDescription}}</div>
        <div class="product_price">€{{item.itemPrice}}</div>
        <button class="button_add" ng-click="addToCart(item)">Add</button>
    </div>
    </div>
